{% load static %}
<script src="{% static 'dataDrive/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dataDrive/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'dataDrive/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dataDrive/assets/js/main.js' %}"></script>
{% comment %}<script src="{% static 'dataDrive/vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>{% endcomment %}
<script src="{% static 'dataDrive/assets/js/dashboard.js' %}"></script>
<script src="{% static 'dataDrive/assets/js/widgets.js' %}"></script>
<script src="{% static 'dataDrive/vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'dataDrive/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'dataDrive/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>

<script src="{% static 'dataDrive/vendors/chosen/chosen.jquery.min.js' %}"></script>

{% if add_data_table_support %}
    <script src="{% static 'dataDrive/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'dataDrive/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'dataDrive/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

    <script>
        jQuery(document).ready(function() {
            const table = jQuery('#table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
            });
            table.buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
        });
    </script>
{% endif %}
<script>
    jQuery(document).ready(function () {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>